{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
<ul class="list-group list-group-flush">
    <li class="list-group-item ">
        <div class="row">
            <div class="col-2">
                Image
            </div>
            <div class="col">
                Titre
            </div>
            <div class="col">
                Auteur
            </div>
            <div class="col">
                description
            </div>

        </div>

    </li>
{% for article in articles %}

<li class="list-group-item">
    <div class="row">
        <div class="col-2">
            
            <img src="http://brigitte.bwb/{{article.image}}" class="img-fluid" alt="{{article.title}}" srcset="">
        </div>
        <div class="col">
            <div class="row">

                <div class="col">
                    {{article.title}}
                </div>
                <div class="col">
                    {{article.author}}
                </div>
                <div class="col">
                    {{article.description}}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="#" class="btn btn-primary btn-sm">Voir des
                        details</a>
                    <!-- <%- include('./components/buttonsEditDelete', { article: article } ) %> -->
                </div>

            </div>

        </div>

</li>
<div>
   
   
    
    
</div>
{% endfor %}
</ul>
<script>
    fetch('http://brigitte.bwb/api/articles/').then(res=>res.json()).then(data=>console.log(data))
</script>
{% endblock %}
