<%- include('../partials/header'); %>
    <%- include('../partials/nav'); %>
        <h3>
            <%= title %>
        </h3>
        <p id="info"></p>
        <div id='info-nav' class="d-none my-1">
            <!-- d-none -->
            <a class="btn btn-outline-primary btn-sm" href="/">A acceuil</a>

        </div>
        <form action="" method="post" enctype="multipart/form-data" id="form-article">
            <div class="row">
                <div class="col col-sm-12">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="title-sm">Titre</span>
                        <input required name="title" type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="title-sm">
                    </div>
                    <input type="text" hidden name="id">
                    <input type="text" hidden name="userId">
                </div>
                <div class="col col-sm-12">

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="author-sm">Auteur</span>
                        <input required name="author" type="text" class="form-control" aria-label="Sizing example input"
                            aria-describedby="author-sm">
                    </div>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text">Description</span>
                <textarea required name="description" class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="input-group input-group-sm mb-3">
                <input name="article-image" type="file" class="form-control" id="inputGroupFile03"
                    aria-describedby="imageUpload" aria-label="Upload">
                <span class="input-group-text">Image pour article</span>
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary btn-sm w-100" type="submit"
                    id="article-submit">Envoyer</button>

            </div>
        </form>



        <% if(isAuthenticated) { %>
            <script>
                let user = <%- JSON.stringify(user) %>;
                console.log(user);
                window.addEventListener("load", () => {
                    const searchParams = new URLSearchParams(window.location.search);
                    if (searchParams.has('id')) {

                        const id = searchParams.get('id') * 1
                        fetch(`/api/articles/${id}`).then(res => res.json()).then(data => {
                            
                            addFormValues(data, true);
                        })
                    }

                })

                const formEl = document.getElementById('form-article')
                formEl.addEventListener('submit', (e) => {
                    e.preventDefault();

                    const formData = new FormData(e.target)

                    fetch(`/api/articles/edit?userId=${user.id}`, {
                        method: 'POST',
                        body: formData
                    }).then(response => response.json()).then(data => {
              
                        const { message } = data;
                        const className = data['error'] ? 'text-danger' : 'text-success';
                        addMessage(message, className);
                        if (data['message']) addFormValues(data['article']);
                    }).catch(error => {
                        console.error('error : ', error);
                    })
                })

                function addFormValues(objVal, edit = false) {
                
                    for (const [key, val] of Object.entries(objVal)) {

                        const input = formEl.elements[key];
                        if (input) input.value = !edit ? '' : val

                    }
                }

                function addMessage(msg, className) {
                    const info = document.getElementById('info');
                    const infoNav = document.getElementById('info-nav');
                    infoNav.classList.toggle('d-none');
                    info.className = className;
                    info.innerText = msg;
                }
            </script>

        <% }%>
        <%- include('../partials/footer'); %>