<nav class="nav my-1">
    
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="nav-link" aria-current="page" href="/">Acceuil</a>
        <a class="nav-link" href="{{ path('app_dashboard') }}">Votre espace</a>
        <a class="nav-link" href="{{ path('app_article_new') }}">Ajout Article</a>
        
        <a class="nav-link" href="{{ path('app_logout') }}">Deconnecter</a>
     
       
    {% endif %}


</nav>

<div class="container bg-light p-2 border rounded my-2">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h5 >Bonjour <span class="text-primary"> {{ app.user.nom }} </span></h5>
    
    <h6>Votre role est <span class="text-primary"> {{ app.user.role }} </span> </h6>
    {% else %}
    <h5 >Bonjour <span class="text-primary"> Guest </span></h5>
    <h6>Pour poster/editer journals veuillez -vous</h6> 
    <a  href="{{ path('app_login') }}"class="text-primary">Connecter</a>  ou
    <a  href="{{ path('app_register') }}" class="text-primary">Registrer</a>
{% endif %}
</div>
